#checklist-main {
	display: flex;
}

#ingredient-search-div {
	width: 50%;
}

#current-ingredients-div {
	min-width: 30%;
	max-width: 50%;
}

#current-ingredients-table {
	font-family: Comic Sans MS;
	background-color: #fdfd96;
	padding: 10px;
}

#currentInfredients td {
  text-align: center;
  vertical-align: middle;
}

.delete-list-item {
	font-weight: bold;
	font-size: 19px;
}